.hero__form__dialogue {
  max-height: 27rem;
}
.card__text-wrapper {
  width: 100%;
}

.advantages__fact-ring__image {
  padding-top: 25px;
}

.swiper-button-next {
  bottom: 6px;
  right: 6px;
}

.swiper-button-prev {
  bottom: 6px;
  left: 6px;
}

.video__play {
  position: absolute;
  height: 89px;
  width: 43px;
  transition: none;
  left: 45%;
  top: 35%;
  transform: translate (-45%, -35%);
}

.main-advantages__player-wrapper::before {
  right: 0;
}

input::-ms-clear {
  display: none;
}

.modal {
 justify-content: flex-start;
}

.modal__dialogue {
  max-height: 27rem;
}