@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?3900645");
  src: url("../fonts/fontello/fontello.eot?3900645#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?3900645") format("woff2"), url("../fonts/fontello/fontello.woff?3900645") format("woff"), url("../fonts/fontello/fontello.ttf?3900645") format("truetype"), url("../fonts/fontello/fontello.svg?3900645#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3900645#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-phone:before {
  content: '\e800'; }

/* '' */
.icon-right:before {
  content: '\f178'; }

/* '' */
@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto-light/Roboto-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto-regular/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Magistral Cond';
  src: url("../fonts/magistral/MagistralCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.container {
  width: 85%;
  max-width: 1010px;
  margin: auto; }

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; }

img {
  max-width: 100%; }

.title {
  text-align: center; }

.section-title {
  position: relative;
  padding-top: 3.4rem;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.285rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2.428rem;
  text-align: center;
  color: #1b1b1b; }
  .section-title__wrapper {
    position: relative; }
  .section-title__logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 1rem; }

.contacts__button {
  padding: 0;
  color: #F64747;
  border: none;
  border-bottom: 1px dashed #F64747;
  background-color: transparent; }

.image {
  position: absolute;
  top: 1rem;
  right: 1.1rem; }

.form__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  background: transparent url("../img/close.svg") no-repeat center;
  border: none;
  margin: 5px;
  cursor: pointer;
  outline: none;
  color: #FFF9E6; }

.form__input {
  margin-top: 6px;
  width: 100%;
  height: 3.214rem; }

.form__button {
  height: 4.07rem;
  background-color: #10E9C6;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 1.285rem;
  font-family: 'Roboto Regular', sans-serif;
  border-radius: 5px; }

.form__safety-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 1.785rem; }

.form__safety {
  font-size: 0.714rem;
  color: #FFFFFF;
  max-width: 13.714rem;
  max-height: 1.57rem;
  text-align: center; }

.input::-webkit-input-placeholder {
  -webkit-transform: translateX(-1rem);
  transform: translateX(-1rem); }

.input::-moz-placeholder {
  transform: translateX(-1rem); }

.input:-ms-input-placeholder {
  transform: translateX(-1rem); }

.input::-ms-input-placeholder {
  transform: translateX(-1rem); }

.input::placeholder {
  -webkit-transform: translateX(-1rem);
  transform: translateX(-1rem); }

.hero__input {
  outline: none;
  padding-left: 1rem; }

.hero__form {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  .hero__form__button {
    margin-top: 1rem;
    outline: none; }
    .hero__form__button:hover {
      box-shadow: 0 5px 15px rgba(16, 233, 198, 0.7);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .hero__form__dialogue {
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.6rem;
    border: 5px solid #fdf1cf; }
  .hero__form__wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%; }
  .hero__form__title {
    color: #FFF9E6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.5rem; }
    .hero__form__title--small {
      font-size: 1.285rem; }
  .hero__form__input-group {
    position: relative;
    outline: none; }

.offering__dialogue {
  margin-top: 0.5rem; }

.offering__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%; }
  .offering__form__safety-wrapper {
    margin-top: 1rem; }
  .offering__form__input-group {
    position: relative; }
  .offering__form__button {
    margin-top: 0.5rem;
    background: transparent;
    border: 2px solid #0CAC93;
    padding: 1px 2.5rem;
    outline: none; }
    .offering__form__button:hover {
      color: #FFFFFF;
      background: #0CAC93; }

.offering__input {
  width: 17.92rem;
  border: none;
  border-radius: 3px;
  outline: none;
  padding-left: 1rem; }
  .offering__input::-webkit-input-placeholder {
    color: #2f2f2f; }
  .offering__input::-moz-placeholder {
    color: #2f2f2f; }
  .offering__input:-ms-input-placeholder {
    color: #2f2f2f; }
  .offering__input::-ms-input-placeholder {
    color: #2f2f2f; }
  .offering__input::placeholder {
    color: #2f2f2f; }

.offering__input-group-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 56.22rem;
  margin-bottom: 1.285rem;
  -webkit-box-align: center;
  align-items: center; }

#hero-user-name-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#hero-user-phone-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#hero-user-email-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#modal-user-name-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#modal-user-phone-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#modal-user-email-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#offering-user-name-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#offering-user-phone-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#offering-user-email-error {
  position: absolute;
  font-weight: bold;
  bottom: -12px;
  background: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ee1212;
  z-index: 1;
  font-size: 0.9rem; }

#player {
  border: 5px solid white;
  border-radius: 12px;
  margin-left: auto; }
  #player::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px; }

.header {
  background-color: #F7E4B2;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  padding-top: 0.5rem; }

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }
  .menu__logo {
    position: absolute;
    left: -1.5rem;
    top: -1rem; }
    .menu__logo--upper {
      z-index: 2; }
  .menu__text-wrapper {
    display: -webkit-box;
    display: flex;
    margin-left: 2.8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: -1rem; }
  .menu__text--downer {
    color: #F64747;
    font-size: 0.78rem;
    margin-bottom: -0.2rem; }
  .menu__text--upper {
    color: #393939;
    font-size: 1.78rem;
    text-transform: uppercase;
    font-family: 'Magistral Cond', sans-serif; }
  .menu__contacts {
    margin-top: -1rem; }

.logo-wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-left: 1.3rem; }

.icon-phone {
  color: #F64747; }
  .icon-phone:before {
    margin: 0;
    margin-right: 0.35rem; }

.icon-right {
  color: #F64747; }
  .icon-right:before {
    margin: 0;
    margin-right: 0.4rem; }

.phone {
  font-family: 'Roboto Regular', sans-serif;
  color: #393939;
  text-decoration: none; }

.contacts {
  font-size: 1.142rem; }
  .contacts__figures {
    font-size: 1.714rem; }
  .contacts__button {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: none; }
    .contacts__button:hover {
      box-shadow: 0 5px 15px rgba(234, 53, 62, 0.3);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }

.call-back {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start; }

.home {
  text-decoration: none; }

input::-webkit-input-placeholder {
  padding-left: 1rem; }

input::-moz-placeholder {
  padding-left: 1rem; }

input:-ms-input-placeholder {
  padding-left: 1rem; }

input::-ms-input-placeholder {
  padding-left: 1rem; }

input::placeholder {
  padding-left: 1rem; }

.contacts__button {
  padding: 0;
  color: #F64747;
  border: none;
  border-bottom: 1px dashed #F64747;
  background-color: transparent; }

.image {
  position: absolute;
  top: 1rem;
  right: 1.1rem; }

.modal {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none; }
    .modal__close:hover {
      box-shadow: 0 5px 15px rgba(241, 238, 40, 0.925);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .modal--visible {
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  .modal__input {
    margin-top: 6px;
    width: 100%;
    height: 3.214rem;
    padding-left: 1rem; }
  .modal__button {
    height: 4.07rem;
    background-color: #10E9C6;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 1.285rem;
    font-family: 'Roboto Regular', sans-serif;
    border-radius: 5px; }
  .modal__safety-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 0.857rem;
    margin-bottom: 1.785rem; }
  .modal__safety {
    font-size: 0.7rem;
    color: #FFFFFF;
    max-width: 13.714rem;
    max-height: 1.57rem;
    text-align: center; }
  .modal__input {
    outline: none; }
  .modal__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .modal__form__input-group {
      position: relative;
      outline: none; }
    .modal__form__button {
      margin-top: 1rem;
      outline: none; }
      .modal__form__button:hover {
        box-shadow: 0 5px 15px rgba(16, 233, 198, 0.7);
        -webkit-transition: box-shadow .2s;
        transition: box-shadow .2s; }
    .modal__form__title {
      color: #FFF9E6;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 100;
      text-align: center;
      font-size: 1.5rem; }
      .modal__form__title--small {
        font-size: 1.285rem; }
    .modal__form__wrapper {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 90%; }
  .modal__dialogue {
    position: relative;
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.4rem;
    border: 5px solid #F7E4B2;
    margin: auto; }

.hero {
  position: relative;
  padding-top: 9.2rem; }
  .hero__header {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase; }
  .hero__title {
    color: #7D3803;
    font-size: 3.285rem;
    margin: 0; }
  .hero__subtitle {
    position: relative;
    margin-top: 0;
    font-size: 1.57rem;
    color: #1B1B1B; }
  .hero__content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    margin-top: 2.3rem;
    margin-bottom: 4rem; }
  .hero__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .hero__fact-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 198px;
    height: 198px;
    background: url("../img/ring-big.png") no-repeat center; }
  .hero__fact-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    max-width: 9rem;
    max-height: 3.78rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.14rem;
    text-transform: uppercase; }
    .hero__fact-text--last {
      max-width: 11rem; }

.hero__image__ear {
  display: none;
  z-index: -2;
  position: absolute;
  right: -15rem;
  top: 0;
  max-height: 419px; }

.hero__image__bread {
  z-index: -2;
  position: absolute;
  top: -14rem;
  left: -10rem; }

.photos {
  padding-top: 0.9rem;
  background: #FFF9E6;
  position: relative;
  padding-bottom: 4.5rem; }
  .photos__image {
    border: 4px solid #FFFFFF; }
  .photos__text--first {
    margin-top: 1.1rem;
    margin-bottom: -1.4rem; }

.bg-photo--first {
  display: none;
  position: absolute;
  left: -19.5rem;
  top: 11rem; }

.bg-photo--second {
  display: none;
  position: absolute;
  top: 10.5rem;
  left: 6rem; }

.swiper-container {
  width: 566px;
  height: 334px; }

.swiper-object {
  position: relative; }

.swiper-navigation-wrapper {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(27, 27, 27, 0.3);
  border-radius: 3px;
  width: 100px;
  height: 20px;
  z-index: 11;
  left: 40%;
  bottom: 1.5rem;
  -webkit-transform: translateX -40%;
  transform: translateX -40%; }

.swiper-pagination-bullet {
  margin-right: 5px;
  display: inline-block;
  background-color: #FFFFFF;
  opacity: 1;
  border-radius: 0px; }
  .swiper-pagination-bullets {
    bottom: 2px;
    left: 20px; }
  .swiper-pagination-bullet-active {
    background-color: #F64747;
    outline: none; }

.swiper-button-prev {
  left: -3px;
  outline: none; }
  .swiper-button-prev::after {
    display: none; }

.swiper-button-next {
  right: 0;
  outline: none; }
  .swiper-button-next::after {
    display: none; }

.row {
  display: -webkit-box;
  display: flex; }

.col-60 {
  width: 60%; }

.col-40 {
  font-weight: 300;
  line-height: 1.7rem;
  margin-left: 2rem;
  width: 40%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-size: 1.142rem;
  justify-content: space-around; }

.main-advantages {
  padding-bottom: 9rem; }
  .main-advantages__player-wrapper {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 44.357rem;
    min-height: 24.928rem;
    z-index: 1;
    background: url("../img/main-advantages/preload.jpg") center no-repeat; }
    .main-advantages__player-wrapper::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2; }

.video__play {
  z-index: 10;
  cursor: pointer; }

.bg-main-advantages--first {
  display: none;
  position: absolute;
  left: -13rem;
  top: 20.5rem;
  z-index: -1; }

.bg-main-advantages--second {
  display: none;
  position: absolute;
  left: -15rem;
  top: 0.7rem;
  z-index: -2; }

.bg-main-advantages--third {
  display: none;
  position: absolute;
  right: -22rem;
  top: 7rem;
  z-index: -3; }

.advantages {
  background: #FFF9E6;
  padding-bottom: 4rem; }
  .advantages__row {
    margin-top: 1rem; }
  .advantages__fact-wrapper {
    margin-bottom: 1.714rem; }
    .advantages__fact-wrapper--inner {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      min-height: 105px; }
  .advantages__fact-text-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 105px;
    margin-left: 1.214rem;
    justify-content: space-around;
    color: #1b1b1b; }
  .advantages__fact-text__title {
    font-weight: bold;
    font-size: 1.285rem;
    display: inline-block; }
  .advantages__fact-text__text {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1.071rem;
    display: inline-block;
    max-width: 360px; }

.col-50 {
  width: 50%; }
  .col-50--left {
    margin-right: 2.64rem; }

.fact-ring {
  background: url("../img/advantages/ring-small.png") center no-repeat;
  min-height: 105px;
  min-width: 105px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.catalogue {
  padding-bottom: 2.5rem; }
  .catalogue__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: -2rem;
    height: 720px; }

.col-30 {
  flex-basis: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.card__image {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .card__image--upper {
    height: 177px; }
  .card__image--downer {
    height: 156px; }

.card__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 0;
  border: 1px solid transparent; }
  .card__item:hover {
    border: 1px solid #D6D6D6; }

.card__text-title {
  font-weight: 700;
  text-align: center;
  display: block;
  font-size: 1.285rem;
  text-transform: uppercase;
  margin-top: -1.5rem;
  color: #1b1b1b; }

.card__text-text {
  line-height: 1.5rem;
  font-weight: 300;
  display: block;
  font-size: 1.071rem;
  text-align: center;
  color: #1b1b1b; }

.info {
  margin-top: 1.4rem;
  text-transform: uppercase;
  color: #F64747;
  background: transparent;
  border: 1px solid #F64747;
  padding: 12px 18px;
  outline: none; }
  .info:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #F64747; }

.info-modal--bread {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .info-modal--bread__dialogue {
    position: relative;
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.4rem;
    border: 5px solid #F7E4B2;
    margin: auto; }
  .info-modal--bread__title {
    color: #FFF9E6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.3rem; }
  .info-modal--bread__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none; }
    .info-modal--bread__close:hover {
      box-shadow: 0 5px 15px rgba(241, 238, 40, 0.925);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .info-modal--bread--visible {
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  .info-modal--bread__form__wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%; }

.info-modal--bread-small {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .info-modal--bread-small__dialogue {
    position: relative;
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.4rem;
    border: 5px solid #F7E4B2;
    margin: auto; }
  .info-modal--bread-small__title {
    color: #FFF9E6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.3rem; }
  .info-modal--bread-small__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none; }
    .info-modal--bread-small__close:hover {
      box-shadow: 0 5px 15px rgba(241, 238, 40, 0.925);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .info-modal--bread-small--visible {
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  .info-modal--bread-small__form__wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%; }

.info-modal--buns {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .info-modal--buns__dialogue {
    position: relative;
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.4rem;
    border: 5px solid #F7E4B2;
    margin: auto; }
  .info-modal--buns__title {
    color: #FFF9E6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.3rem; }
  .info-modal--buns__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none; }
    .info-modal--buns__close:hover {
      box-shadow: 0 5px 15px rgba(241, 238, 40, 0.925);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .info-modal--buns--visible {
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  .info-modal--buns__form__wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%; }

.info-modal--confectionery {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .info-modal--confectionery__dialogue {
    position: relative;
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.4rem;
    border: 5px solid #F7E4B2;
    margin: auto; }
  .info-modal--confectionery__title {
    color: #FFF9E6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.3rem; }
  .info-modal--confectionery__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none; }
    .info-modal--confectionery__close:hover {
      box-shadow: 0 5px 15px rgba(241, 238, 40, 0.925);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .info-modal--confectionery--visible {
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  .info-modal--confectionery__form__wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%; }

.info-modal--crispbreads {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .info-modal--crispbreads__dialogue {
    position: relative;
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.4rem;
    border: 5px solid #F7E4B2;
    margin: auto; }
  .info-modal--crispbreads__title {
    color: #FFF9E6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.3rem; }
  .info-modal--crispbreads__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none; }
    .info-modal--crispbreads__close:hover {
      box-shadow: 0 5px 15px rgba(241, 238, 40, 0.925);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .info-modal--crispbreads--visible {
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  .info-modal--crispbreads__form__wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%; }

.info-modal--muesli {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .info-modal--muesli__dialogue {
    position: relative;
    background-color: #F64747;
    max-width: 21.4rem;
    max-height: 26.4rem;
    border: 5px solid #F7E4B2;
    margin: auto; }
  .info-modal--muesli__title {
    color: #FFF9E6;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.3rem; }
  .info-modal--muesli__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none; }
    .info-modal--muesli__close:hover {
      box-shadow: 0 5px 15px rgba(241, 238, 40, 0.925);
      -webkit-transition: box-shadow .2s;
      transition: box-shadow .2s; }
  .info-modal--muesli--visible {
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  .info-modal--muesli__form__wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%; }

.about {
  padding-bottom: 5.5rem;
  background: url("../img/about/bg-about.png") no-repeat center 320px #FFF9E6; }
  .about__wrapper__text {
    margin-bottom: 2rem; }
  .about__slider__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center; }
  .about__text {
    font-size: 1.071rem;
    color: #1b1b1b; }
    .about__text--bold {
      margin: 1rem 0;
      font-weight: 700; }

.item-video {
  height: 250px; }

.swiper-object-about {
  position: relative; }

.swiper-container-about {
  width: 419px;
  height: 250px; }

.swiper-navigation-wrapper-about {
  position: absolute;
  margin-top: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(27, 27, 27, 0.3);
  border-radius: 3px;
  width: 100px;
  height: 20px;
  z-index: 11;
  left: 45%;
  -webkit-transform: translateX -45%;
  transform: translateX -45%; }

.youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  width: 419px;
  height: 250px; }
  .youtube::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px; }

.play {
  background: url("../img/main-advantages/play.png") no-repeat;
  background-size: 100% auto;
  position: absolute;
  height: 89px;
  width: 43px;
  -webkit-transition: none;
  transition: none;
  left: 45%;
  top: 35%;
  -webkit-transform: translate -45%, -35%;
  transform: translate -45%, -35%; }

.offering {
  padding-bottom: 1rem;
  background: url("../img/offering/bg-offering.png") center no-repeat #FFF9E6;
  background-size: cover; }
  .offering__section-title {
    color: #FFFFFF; }

.photos-line {
  background-color: #252323; }
  .photos-line-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .photos-line__row {
    display: -webkit-box;
    display: flex; }
  .photos-line__image {
    overflow-x: hidden;
    width: 321px;
    height: 200px;
    opacity: 0.2; }
    .photos-line__image:hover {
      opacity: 1;
      cursor: pointer; }

.ymap-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/map/yandex-before-load-marker.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2); }

/* Блок, в котором появится Яндекс.Карта */
#map-yandex {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 563px;
  cursor: pointer;
  background-color: transparent; }

/* Индикатор загрузки, который показывается до загрузки карты */
.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  -webkit-transition: opacity .7s ease;
  transition: opacity .7s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55); }

.loader:after {
  box-sizing: border-box; }

.loader:before {
  box-sizing: border-box; }

.loader.is-active {
  top: 0;
  opacity: 1; }

.loader-default:after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: '';
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes blink {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

@keyframes blink {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

.footer {
  background: #363636;
  padding-bottom: 2rem; }
  .footer-text__text {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.071rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100; }
    .footer-text__text--info {
      padding-top: 2.857rem; }
  .footer-social-likes {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 2.5rem; }

#vk_like {
  margin-left: 1rem; }

@media screen and (min-width: 1650px) {
  .bg-main-advantages--third {
    display: initial; }
  .bg-main-advantages--first {
    display: initial; }
  .bg-main-advantages--second {
    display: initial; } }

@media screen and (min-width: 1400px) {
  .hero__image__ear {
    display: initial; }
  .bg-photo--first {
    display: initial; } }

@media screen and (min-width: 1201px) and (max-width: 1649px) {
  .bg-main-advantages--first {
    display: initial;
    left: -3rem; }
  .bg-main-advantages--second {
    display: initial;
    left: -5rem; } }

@media screen and (min-width: 1200px) {
  .bg-photo--second {
    display: initial; } }

@media screen and (max-width: 1200px) {
  .main-advantages {
    padding-bottom: 4rem; }
    .main-advantages__player-wrapper {
      -webkit-box-pack: center;
      justify-content: center; }
  .advantages__fact-text__text {
    max-width: 300px; } }

@media screen and (max-width: 1100px) {
  html {
    font-size: 12px; }
  .col-40 {
    width: 32%; }
  .photos-line__image {
    width: 291px;
    height: 170px; } }

@media screen and (max-width: 991px) {
  .container {
    width: 90%; }
  .hero__title {
    font-size: 2.9rem; }
  .hero__subtitle {
    font-size: 1.1rem; }
  .hero__image__bread {
    top: 2rem;
    left: -4rem; }
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  #player {
    margin: auto; }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center; }
  .col-60 {
    width: 100%; }
  .col-40 {
    width: 100%; }
  .photos__text {
    font-size: 1.3rem;
    text-align: justify; }
    .photos__text--first {
      margin: 0;
      padding-bottom: 1rem;
      padding-top: 1rem; }
  .col-50 {
    width: 100%; }
    .col-50--left {
      margin-right: 0; }
  .advantages__row {
    -webkit-box-align: start;
    align-items: flex-start; }
  .advantages__fact-wrapper--inner {
    -webkit-box-pack: center;
    justify-content: center; }
  .about {
    background: #FFF9E6;
    padding-bottom: 3rem; }
  .offering__input-group-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: initial; }
  .photos-line__image {
    width: 251px;
    height: 130px; } }

@media screen and (max-width: 768px) {
  .hero__image__bread {
    display: none; }
  .hero__title {
    font-size: 2.7rem; }
  .hero__subtitle {
    font-size: 1rem;
    padding-top: 1rem; }
  .hero__content {
    margin-top: 0;
    margin-bottom: 2rem; }
  #swiper-container {
    width: 466px;
    height: 284px; }
  .contacts__figures {
    font-size: 1rem; }
  .contacts__button {
    font-size: 0.7rem; }
  .catalogue {
    padding-bottom: 74rem; }
    .catalogue__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; }
  .card__text-title {
    font-size: 1.2rem; }
  .card__text-text {
    font-size: 1.1rem; }
  .photos-line__image {
    width: 201px;
    height: 100px; }
  .menu__text--downer {
    display: none; }
  .call-back {
    display: none; } }

@media screen and (min-width: 577px) and (max-width: 646px) {
  .catalogue {
    padding-bottom: 85rem; } }

@media screen and (max-width: 576px) {
  .header {
    min-height: 4rem;
    padding-top: 0; }
  .hero {
    padding-top: 5rem; }
    .hero__fact-wrapper {
      background: url("../img/advantages/ring-small.png") center no-repeat;
      height: 100px;
      width: 100px; }
    .hero__fact-text {
      font-size: 0.7rem;
      max-width: 15px; }
  .menu {
    margin-top: 1.5rem; }
  .logo {
    display: none; }
    .logo-wrapper {
      margin-left: 0;
      margin-right: 3rem; }
  .hero__title {
    font-size: 2.3rem; }
  .hero__subtitle {
    width: 30rem;
    text-align: center; }
  .catalogue {
    padding-bottom: 83rem; }
  .card__text-title {
    font-size: 1rem; }
  .card__text-text {
    max-width: 350px;
    font-size: 0.7rem; }
  .photos-line__image {
    width: 150px;
    height: 60px; }
  .swiper-navigation-wrapper {
    bottom: 8.5rem;
    left: 20%;
    -webkit-transform: translateX -20%;
    transform: translateX -20%; } }

@media screen and (min-width: 320px) and (max-width: 575px) {
  .menu__text--upper {
    font-size: 1.25rem; }
  .menu__text--downer {
    font-size: 0.6rem; }
  .contacts__phone {
    font-size: 0.6rem; }
  .contacts__button {
    font-size: 0.4rem; }
  .hero__title {
    font-size: 1.7rem; }
  .hero__subtitle {
    width: 20rem;
    text-align: center; }
  #swiper-container {
    width: 180px;
    height: 234px; }
    #swiper-container-about {
      width: 250px;
      height: 270px; }
  #player--first {
    width: 250px !important;
    height: 270px !important; }
  #player--second {
    width: 250px !important;
    height: 270px !important;
    width: 250px !important;
    height: 270px !important;
    width: 250px !important;
    height: 270px !important;
    width: 250px !important;
    height: 270px !important; }
  .swiper-navigation-wrapper-about {
    left: 31%;
    -webkit-transform: translateX -31%;
    transform: translateX -31%; }
  .swiper-object {
    height: 120px; }
  .photos__text {
    font-size: 1.1rem; } }
