.footer
  background: #363636
  &-text
    &__text
      display: block
      color: white
      font-family: 'Roboto', sans-serif
      font-size: 1.071rem
      text-align: center
      margin-top: 0
      margin-bottom: 0
      &--info
        padding-top: 2.857rem

