.hero
  position: relative
  padding-top: 10.06rem
  height: 100vh
  padding-bottom: 5rem
  &__header
    font-family: 'Roboto Condensed', sans-serif
    text-transform: uppercase
  &__title
    color: $title
    font-size: 3.285rem
    margin: 0
    font-weight: 100
  &__subtitle
    font-size: 1.57rem
    color: $black-font
    font-weight: 100
  &__content
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    margin-top: 2rem
    margin-bottom: 4rem
  &__header
    display: flex
    flex-direction: column
    align-items: center
  &__fact-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 14.14rem
    height: 14.14rem
    background: url('../img/ring-big.png') no-repeat center
  &__fact-text
    text-align: center
    max-width: 9rem
    max-height: 3.78rem
    font-family: 'Roboto Condensed', sans-serif
    font-size: 1.14rem
    text-transform: uppercase
    &--last
      max-width: 11rem
  &__image
    &__bread
      position: absolute
      z-index: -1
      left: 11%
      bottom: 12%
    &__ear
      position: absolute
      z-index: -1
      right: 2%
      bottom: 14%
  &__input
    outline: none
  &__form
    display: flex
    flex-direction: column
    &__button
      margin-top: 1rem
    &__dialogue
      background-color: $red
      max-width: 21.4rem
      max-height: 26.4rem
      border: 5px solid $main-up
    &__wrapper
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      width: 90%
    &__title
      color: $main
      text-transform: uppercase
      font-family: 'Roboto Condensed', sans-serif
      font-weight: 100
      text-align: center
      font-size: 1.5rem
      &--small
        font-size: 1.285rem
    &__input-group
      position: relative
.image
  position: absolute
  top: 1rem
  right: 1.1rem
.form
  &__close
    display: none
    position: absolute
    top: 0
    right: 0
    width: 14px
    height: 14px
    background: transparent url('../img/close.svg') no-repeat center
    border: none
    margin: 5px
    cursor: pointer
    outline: none
    color: $main
    &--visible
      display: initial
  &--visible
    position: fixed
    z-index: 199
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($black-font, 0.7)
  &__input
    margin-top: 6px
    width: 100%
    height: 3.214rem
  &__button
    height: 4.07rem
    background-color: $mint
    color: $white
    text-transform: uppercase
    border: none
    cursor: pointer
    font-size: 1.285rem
    font-family: 'Roboto Regular', sans-serif
    border-radius: 5px
  &__safety-wrapper
    display: flex
    justify-content: space-between
    margin-top: 0.857rem
    margin-bottom: 1.785rem
  &__safety
    font-size: 0.78rem
    color: $white
    max-width: 13.714rem
    max-height: 1.57rem
    text-align: center
input::placeholder
  padding-left: 1rem


    
