.main-advantages
  padding-bottom: 9rem
  &__player-wrapper
    display: flex
    justify-content: flex-end
.bg-main-advantages
  &--first
    display: none
    position: absolute
    left: -13rem
    top: 20.5rem
    z-index: -1
  &--second
    display: none
    position: absolute
    left: -15rem
    top: 0.7rem
    z-index: -2
  &--third
    display: none
    position: absolute
    right: -22rem
    top: 7rem
    z-index: -3



    
