.photos  
  background: url('../img/photos/bg-photos-1.png') -20px 100px no-repeat, url('../img/photos/bg-photos-2.png') 340px 100px no-repeat $main
  position: relative
  padding-bottom: 4.35rem
.swiper-container
  width: 600px
  height: 300px
.photos
  &__image
    border: 4px solid $white
.swiper
  &-pagination
    &-bullet
      display: inline-block
      background-color: $white
      opacity: 1
      border-radius: 0px
      &-active
        background-color: $red
  &-button
    &-prev
      display: flex
      justify-content: flex-start
      position: absolute
      width: 8.1rem
      height: 20px
      bottom: 8px
      background: rgba($black-font, 0.3)
      border-radius: 3px 
      top: auto
      margin-left: 39%
      &::after
        display: none
      &-img
        padding-left: 0.5rem
    &-next
      margin-right: 38%
      position: absolute
      bottom: -5px
      top: auto
      &::after
        display: none
.row
  display: flex
.col-60
  width: 60%
.col-40
  width: 40%
  display: flex
  flex-direction: column
  font-size: 1.142rem
  justify-content: space-around
